node_modules/
out/
dist/
*.log
.DS_Store
.temp/
build/
Test-Programs/*

# ExifTool files (already in resources, but should be excluded from Git if they are binary artifacts)
resources/exiftool_files/
resources/exiftool.exe
Test_Images_All_Full_Size.zip
Test-Images/Archive.zip
